*{
    box-sizing: border-box;
    
}

html, body{
background-color: antiquewhite;
    margin: 0;
    padding: 0;
    
}

.wrapper {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: url(img/summer.jpg);
    background-size: cover;
    font-size: 60px;
    text-shadow: 30px 10px 30px  #ebfa63;
    background-color: antiquewhite;
    width: 1500px;
    height: 800px;
    
    border: goldenrod 30px solid;
    border-style: groove;
   
}

.wrapper2 {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    background-image: url(img/Xmas.png);
    background-size: cover;
    color: antiquewhite;
    font-size: 60px;
    text-shadow: 30px 10px 30px  #ebfa63;
    background-color: rgb(253, 253, 252);
    width: 1500px;
    height: 800px;
    border: goldenrod 30px solid;
    border-style: groove;
    
   
}

tidTilbageNu {
    
    padding: 20px;
    margin: 10px;
}

.linkknap{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 65%;
    font-size: 20px;
    
    border: blue 5px outset;
    box-shadow: 5px 5px;
    background-color: rgb(58, 110, 224);
    width: 150px;
    height: 150px;
    border-radius: 30%;
    padding: 10px;
}

.linkknap a{
    color: cornsilk;
    text-decoration: none;
}